.formContainer {
    color: rgba(6, 5, 15, 0.4);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 80px;
    gap: 80px;
    margin-bottom: 100px;

    width: 1240px;
    height: 446px;

    background: #CDA5D5;
    border-radius: 80px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.formContainer__text-down {
    padding-top: 30px;
}

.formContainer__inputBox {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 1px 20px 2px;

    width: 500px;
    height: 65px;

    border: 1px solid rgba(6, 5, 15, 0.3);
    border-radius: 20px;
}

.formContainer__inputBox input {
    width: 100%;
}

.formContainer__text p {
    color: black;
}

.formContainer__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formContainer__button {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 60px;
    margin-top: 30px;
    gap: 10px;

    background: #E8FE74;
    border-radius: 20px;

    font-family: 'Schibsted Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 26px;

    color: #06050F;

}