.aboutUs__container {
    display: flex;
    align-items: center;
}

.aboutUs__text {
    padding: 42px 0px 52px;
}

.aboutUs__text-h2 {
    color: beige;
}

.aboutUs__text-h2 span {
    display: block;
    color:  var(--textNeutralColor);
}

.aboutUs__text-p {
    padding-top: 30px;
    width: 580px;

    font-weight: 500;
    font-size: 26px;
    line-height: 26px;
}