.container__yellow {
    width: 100%;
    background-color: rgba(232, 254, 116, 1);
    padding: 90px 0px 100px;
}

.team__text-h2 {
    color: rgba(6, 5, 15, 0.4)
}

/* недостаточно большие буквы */
.team__text-p {
    color: black;
    font-size: 35px;
} 

.team__cards {
    display: flex;
    flex-direction: row;
    padding-top: 40px;
    column-gap: 20px;
    overflow-x: scroll;
}