.service-card {
  border-radius: 32px;
  border-radius: 60px;
  
  background: linear-gradient(180deg, #C4C4C4 0%, #B9D235 100%);
}

.service-card-content {
  width: 365px;
  height: 460px;
  padding: 56px 21px 0px;
}

.service-card-title {
  font-size: 26px;
  font-weight: bold;
  color: black;
  margin-bottom: 16px;
}

.service-card-description {
  font-size: 14px;
  line-height: 1.5;
  color: black;
}

